body {
    width: 100%;
    box-sizing: border-box;
}


header {
    background-color: #ccc;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}


img.logo {
    height: 100px;
    width: 100px;
    border-radius: 100px;

}


nav.menu {
    background-color: rgb(120, 120, 120);
    border: 1px solid rgb(180, 180, 180);
    width: 100%;
}


div.hiper, div.forma, div.tabl {
    width: 100%;
    max-width: 960px;
    background-color: #f2f2f2;
    max-width: 96%;
}

div.hiper {
    border: 10px groove rgb(0, 112, 45);
    order:1;
}

div.forma {
    border: 10px groove rgb(0, 7, 112);
    order:2;
    text-align: center;
}

div.tabl {
    border: 10px groove rgb(112, 0, 62);
    order:0;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:nth-child(odd) {
    background-color: #fff;
}
#important{
    text-align: center;
    order:3;
}

footer {
    background-color: rgb(185, 185, 185);
    width: 100%;
    text-align: center;
}


@media (min-width: 768px) {

    div.hiper, div.forma, div.tabl {
        max-width: 960px;
    }

    div.hiper {
        order:0;
    }
    
    div.forma {
        order:1;
    }
}
